# Скопируй в .env и заполни
# cp .env.example .env

IIKO_URL=https://630-539-980.iiko.it
IIKO_LOGIN=admin
# Пароль в plain text — SHA1-хеш считается автоматически в iikoClient.js
IIKO_PASSWORD=12345
PORT=3001
